@model IEnumerable<activity4.Models.Doctorsform>

@{
    ViewData["Title"] = "DoctorsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DoctorsList</h1>

<p>
    <a asp-action="Doctors">Create New</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MOP)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> |
                    |
                    <a asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>

}

