@model activity4.Models.DoctorViewModel

@{
    ViewData["Title"] = "DoctorsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DoctorsList</h1>

<p>
    <a asp-action="Doctors">Create New</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                Doctor Name
            </th>
            <th>
                Doctor Type
            </th>
            <th>
               Contact Number
            </th>
            <th>
                Schedule
            </th>
            <th>
                Mode of Payment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DoctorsList)
        {
            <tr>
                <td>
                    @item.User.FirstName @item.User.LastName
                </td>
                <td>
                    @item.DoctorType
                </td>
                <td>
                    @item.User.PhoneNumber
                </td>
                <td>
                    @item.Schedule
                </td>
                <td>
                    @item.MOP
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> |
                    |
                    <a asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>

}

