@model activity4.Models.DoctorViewModel

@{
    ViewData["Title"] = "DoctorsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .h1 {
        margin-top: 120px;
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
        margin-bottom: 0px;
    }

    .a {
        margin-top: 100px;
        margin-right: 20px;
        margin-left: 40px;
        margin-bottom: 0px;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
    }

    tbody tr:hover {
        background-color: #ddd;
    }

    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: black;
    }
</style>
<div class="container">
<h1 class="h1">Doctors List</h1>
<a asp-action="Doctors">Create New</a>
<hr />
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                Doctor Name
            </th>
            <th>
                Doctor Type
            </th>
            <th>
               Contact Number
            </th>
            <th>
                Schedule
            </th>
            <th>
                Mode of Payment
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DoctorsList)
        {
            <tr>
                <td>
                    @item.User.FirstName @item.User.LastName
                </td>
                <td>
                    @item.DoctorType
                </td>
                <td>
                    @item.User.PhoneNumber
                </td>
                <td>
                    @item.Schedule
                </td>
                <td>
                    @item.MOP
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> |
                    |
                    <a asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>

}
     </div>
